@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PRIMARY STATS -->
<div class="col-md-4">
    <div class="col-md-12">
        <div id="statsForm" class="col-md-4 well">
            <h2>Stats</h2>
            <div data-bind="foreach:stats">
                <input type="number" max="20" class="primaryStat" data-bind="value: $data.value" />
                <label data-bind="text: $data.name"></label>
                <p data-bind="text: $data.mod"></p>
            </div>
        </div>
        <div class="col-md-8">
            <h2><span class="block" data-bind="text: stats()[0].proficiencyBonus()"></span> Proficiency Bonus</h2>
            <div class="block">
                <h2>Saves</h2>
                <ul data-bind="foreach:stats">
                    <li>
                        <input type="checkbox" data-bind="checked: proficiency" />
                        <span data-bind="text: save"></span>
                        <label data-bind="text: name"></label>
                    </li>
                </ul>
            </div>
            <div class="block">
                <h2>Skills</h2>
                <ul data-bind="foreach:skills">
                    <li>
                        <input type="checkbox" data-bind="checked: proficiency" />
                        <input type="checkbox" data-bind="checked: expertise" />
                        <span data-bind="text: value"></span>
                        <label data-bind="text: name"></label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="block"><span class="block" data-bind="text: passivePerception()"></span> Passive Perception</h2>
        </div>
        <div class="col-md-12">
            <div class="block">
                <h2>Proficiencies</h2>
                <ul data-bind="foreach:proficiencies">
                    <li data-bind="text: $data"></li>
                </ul>
                <h2>Languages</h2>
                <ul data-bind="foreach:languages">
                    <li data-bind="text: $data"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- SECONDARY STATS -->
<div class="col-md-4">
    <div class="col-md-12 block">
        <div class="col-md-3 block">
            <input type="number" data-bind="value:ac" />
            <label>AC</label>
        </div>
        <div class="col-md-3 block">
            <input type="number" data-bind="value:init" />
            <label>Init</label>
        </div>
        <div class="col-md-3 block">
            <input type="number" data-bind="value:speed" />
            <label>speed</label>
        </div>
        <div class="col-md-10 block">
            <p>Hp Max:<span data-bind="text:hpMax"></span></p>
            <input type="number" data-bind="value:hpCurrent" />
            <label>Current HP</label>
        </div>
        <div class="col-md-10 block">
            <input type="number" data-bind="value:hpTemp" />
            <label>Temp HP</label>
        </div>

        <div class="col-md-3 block">
            <input type="number" data-bind="value:hd" />
            <label>HD</label>
        </div>
        <div class="col-md-7 block">
            <label>DeathSaves</label>
            <div data-bind="foreach:deathSaves">
                <label>&#10003;</label>
                <input type="checkbox" data-bind="value:$index, checked:$parent.deathSave" />
            </div>
            <div data-bind="foreach:deathSaves">
                <label>&times;</label>
                <input type="checkbox" data-bind="value:$index, checked:$parent.deathSave().indexOf($index()) < 0" />
            </div>
        </div>
    </div>
    <div class="col-md-12 block">
        <select data-bind="options:weaponSet, value:selectedWeapon, optionsText: function(item) {return item.name}"></select>
        <button data-bind="click:addWeapon">Select</button>
        <button data-bind="click:removeWeapon">Remove</button>
        <div data-bind="foreach:weapons">
            <div class="col-md-4 well well-sm" data-bind="text:name"></div>
            <div class="col-md-2 well well-sm" data-bind="text: '+' + (utils.lookup($parent.stats(), stat(), 'shorthand').mod() + proficient()?proficiencyBonus():0)"></div>
            <div class="col-md-4 well well-sm" data-bind="text: die() + ' + ' + (utils.lookup($parent.stats(), stat(), 'shorthand').mod())"></div>
        </div>
    </div>
    <div class="col-md-12 block">
        <input type="text" id="equip" />
        <button data-bind="click: equip($('#equip').val())">new inventory</button>
        <div class="col-md-4" data-bind="foreach: money">
            <div class="block" data-bind="text:$parent.currency(key,value)">
            </div>
        </div>
        <div class="col-md-8">
            <ul data-bind="foreach: equipment">
                <li class="well well-sm equipment" data-bind="text: $data + ' X ', click: $parent.unequip"></li>
            </ul>
        </div>
    </div>
</div>
<!-- TERTIARY STATS -->
<div class="col-md-4"></div>
<button data-bind="click:store">save</button>
